html{
    background-image: url("../images/background.png");
    background-size: 100% 210%;

}

h1{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;

}

a{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
}

.inputunit{
    padding-left: 20px;
}

.button{
padding-left: 20px;
}