html{
    background-image: url("../images/orange-medical-background_23-2147490513-3244511653.jpg");
    background-size: 100%;
}



canvas{
    margin-top: 9px;
    background-color: white;
    border-radius: 4px;
    border:1px solid;
    border-color:#f1955b ;
}
.nav-buttons {
    margin-top: 9px;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #f1955b;
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #a84304;
}   

.noteMedecin{
    background-size: 100% 100%; /* Ensures the image fully covers the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
 /* Adds space inside the div to prevent overlap */
    box-sizing: border-box; /* Ensures padding is inside the content box */
    max-height: 200px; /* Adjust based on the height of your sticky note */
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    max-width: 200px; /* Adjust based on the width of your sticky note */
    background-image: url("../images/sticky_note.png");
    font-size: 10;
    font-family: cursive;
    text-align: center;
}

.entete{
    font-weight: bold;
    display: inline;
}
.dashboard{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.notes{display: flex;
flex-direction: column;
    
}
