

/* Styles généraux pour la page de connexion */
body {
    font-family: Arial, sans-serif;
    background-image:url("../images/orange-medical-background_23-2147490513-3244511653.jpg");/* Couleur de fond de la page */
    background-size: 100%;
    color: #333; /* Couleur du texte principal */
    margin: 0;
    padding: 0;
}

.connexion-container {
    max-width: 400px;
    margin: 50px auto; /* Centrer le formulaire horizontalement */
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour le formulaire */
    background-color: #F55F01; /* Fond du formulaire */
}

h1 {
    color: white; /* Utilisation de la couleur orange pour le titre */
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column; /* Organiser les éléments du formulaire en colonne */
    gap: 15px; /* Espacement entre les champs du formulaire */
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: white; /* Bouton de soumission en orange */
    color: #F55F01;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: lightgrey; /* Couleur plus foncée pour le survol */
}

.errors {
    background-color: #ffe6e6;
    color: #d9534f;
    border: 1px solid #d9534f;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.errors p {
    margin: 0;
    font-size: 14px;
}

