<html>
<header>

</header>

<div>
<h1>Titre</h1>
<a href="{% url "observations" %}">observations (lien temporaire)</a>
 {{ data }}

<hr>

<h1>Inscription</h1>
<form id='inscription' name='inscription'>
    <label for="nom">nom</label>
    <input type="number" id="nom" name="nom" />

    <label for="Prenom">Prenom</label>
    <input type="number" id="Prenom" name="Prenom" />

    <label for="datenaissance">date de naissance</label>
    <input type="datenaissance" name="datenaissance" id="datenaissance" />
    <input type="submit" value="inscription">
</form>

</div>


</html>