<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accueil.css' %}">
<header>

</header>

<div>
<h1>Titre</h1>
<a href="{% url "observations" %}">observations (lien temporaire)</a>


<hr>

<h1>Inscription</h1>
<form id='inscription' name='inscription'>
    <div class=inputunit>
    <label for="nom">Nom</label>
    <input type="text" id="nom" name="nom" />
    </div>

    <div class=inputunit>
    <label for="Prenom">Prenom</label>
    <input type="text" id="Prenom" name="Prenom" />
</div>

    <div class=inputunit>
    <label for="datenaissance">Date de Naissance</label>
    <input type="datenaissance" name="datenaissance" id="datenaissance" />
</div>
</form>
<div class=button>
<button>S'inscrire!</button>
</div>

</div>


</html>