{% extends "app_fhir/navigation.html"%}

<html>
  {% block content%}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/observations.css' %}" />
  <header></header>

  <div class=observation-container>
    <h1>Envoi de données:</h1>
    <p>{{date}}</p>

    <form id="formPostObservations" method="post">
        {% csrf_token %}
      <label for="taille">Taille du patient observée :</label>
      <input type="number" id="taille" name="taille" />

      <label for="poids">Poids du patient observé :</label>
      <input type="number" id="poids" name="poids" />

      <label for="date">Date de l'observation</label>
      <input type="datetime-local" name="date-heure" id="date-heure" />

      <input type="submit" value="valider">
    </form>
  </div>

<div class="reponse">
<h1>Réponse:</h1>
  {% if reponse %}
  <p class=reussi>L'envoi a été reussi</p>
  {% else %}
  <p class=echec>L'envoi a échoué. Veuillez reessayer.</p>
{% endif %}
</div>
{%endblock%}
</html>

