{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
<nav>
    

    <ul>
        <li><h1>Nutri Track</h1></li>
        <li><a href="{% url 'accueil' %}">Accueil</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'observations' %}">Observations</a></li>
        <li><a href="{% url 'deconnexion' %}">Deconnexion</a></li>

        {% else %}
            <li><a href="{% url 'connexion' %}">Connexion</a></li>
            <li><a href="{% url 'inscription' %}"> Inscription</a></li>
        {% endif %}
    </ul>
</nav>
{% block content%}
    skibidi placeholder
{% endblock %}